doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="robots" value="index, follow")
    title Lizzy & Beto
    link(rel="stylesheet" href="/assets/css/app.css")
    script(src="/assets/js/app.js")
