div.descanso#quienes-somos
    div.center
        p
            span.extra-bold Somos una empresa mexicana, 
            | dedicada a la 
            span.extra-bold administración y manejo integral de los residuos reciclables 
            | generados por 
            br 
            | los 
            span.extra-bold sectores: industrial, comercial y de servicios.