div.descanso.no-border
    div.center
        p.medium
            span.extra-bold Operamos mediante un proceso de logística inversa, 
            | consistente en que compramos los residuos directamente a las empresas que los generan, 
            span.extra-bold asegurando su adecuado manejo 
            | durante todo el proceso y disposición final