div.descanso-2
    div
        img(src='assets/images/logo-blue.png')
        p 
            span.extra-bold Agregamos gran valor a nuestros clientes 
            | y contribuimos al desarrollo 
            span.extra-bold sostenible mundial. 
            br
            span.extra-bold El reciclaje de residuos 
            | constituye 
            span.extra-bold uno de los mejores medios 
            | para transitar en el rumbo 
            span.extra-bold del desarrollo sustentable.