div.intro
    img(src='assets/images/intro.png')
    div.main-title.center
        div.logo 
            include ../svg/logo-white
        div.center El 
            span.extra-bold reciclaje de residuos 
            | constituye 
            span.extra-bold uno de los mejores medios 
            | para transitar en el rumbo 
            span.extra-bold del desarrollo sustentable.
        button.green.bold QUIERO SABER MÁS