.residuos 
    .container
        .title.center
            span.extra-bold Residuos 
            | que gestionamos
        .residuos-list 
            .residuo 
                .icon 
                    img(src='assets/images/residuo-1.png')
                .name.medium Madera
            .residuo 
                .icon 
                    img(src='assets/images/residuo-2.png')
                .name.medium Plástico 
            .residuo 
                .icon 
                    img(src='assets/images/residuo-3.png')
                .name.medium Cartón
            .residuo 
                .icon 
                    img(src='assets/images/residuo-4.png')
                .name.medium Papel
            .residuo 
                .icon 
                    img(src='assets/images/residuo-5.png')
                .name.medium Ferrosos
            .residuo 
                .icon
                    img(src='assets/images/residuo-6.png') 
                .name.medium No Ferrosos