div.siete-pilares
    .info
        div.titulo
            include ../svg/sietepilares
            #excelencia 
                include ../svg/excelencia
        div.pilares
            .pilar.medium
                .icon 
                    .image
                        include ../svg/pilar-1
                | Nos adaptamos a las necesidades de nuestros clientes generando servicios integrales y a la medida.
            .pilar.medium
                .icon 
                    .image
                        include ../svg/pilar-2
                | Contamos con todos los permisos y regulaciones vigentes.
            .pilar.medium
                .icon 
                    .image
                        include ../svg/pilar-3
                | Tenemos estrictos procesos que optimizan nuestra operación y garantizan calidad en nuestro servicio.
            .pilar.medium
                .icon 
                    .image
                        include ../svg/pilar-4
                | Aseguramos el destino final de sus residuos.
            .pilar.medium
                .icon 
                    .image
                        #pilar-5 
                            include ../svg/pilar-5
                | Brindamos el mejor precio del mercado.
            .pilar.medium
                .icon 
                    .image
                        include ../svg/pilar-6
                | Apasionados de la vanguardia y mejora continua.
            .pilar.medium
                .icon 
                    .image
                        include ../svg/pilar-7
                | Comprometidos en reducir el impacto ambiental en todas nuestras actividades.
