div.soluciones
    .info.centered
        .icon 
            include ../svg/e-icon
        .title.regular SOLUCIONES DE RECICLAJE
        button.green(onclick="window.open('brochure.pdf', '_blank'); return false;") VER BROCHURE