include partials/_head

body 
    block content
        #whatsapp 
            a(href="https://wa.link/l8r2ol" target="_blank") 
                include svg/whatsapp
        include sections/intro
        include sections/descanso1
        div.fullWidthImage 
            img#img-1(src='assets/images/image-1.png')
        include sections/descanso2
        include sections/siete-pilares
        div.fullWidthImage 
            img#img-1(src='assets/images/image-1.png')
        include sections/descanso3
        include sections/soluciones-reciclaje
        include sections/residuos
        include sections/contacto
