@font-face 
    font-family: 'Aesthetic'
    src: url('../fonts/Aesthetic-Regular.woff2') format('woff2'), url('../fonts/Aesthetic-Regular.woff') format('woff'), url('../fonts/Aesthetic-Regular.ttf') format('truetype')
    font-style: normal
    font-display: swap

@font-face 
    font-family: 'CrimsonText-SemiBold'
    src: url('../fonts/CrimsonText-SemiBold.ttf') format('truetype')
    font-style: normal
    font-display: swap

@font-face 
    font-family: 'WorkSans-Regular'
    src: url('../fonts/WorkSans-Regular.ttf') format('truetype')
    font-style: normal
    font-display: swap

@font-face 
    font-family: 'WorkSans-SemiBold'
    src: url('../fonts/WorkSans-SemiBold.ttf') format('truetype')
    font-style: normal
    font-display: swap
