body
    font-family: 'Raleway-Regular'
    text-rendering: geometricPrecision
    color: $black
    line-height: 1.6em

.centered, .center
    text-align: center

.button
    display: block
    padding: 15px 5px
    width: 100%
    max-width: 300px
    border-radius: 62px

a, button
  color: inherit
  text-decoration: inherit
  border: 0

button
    cursor: pointer
    max-width: 300px
    width: 100%
    padding: 15px 25px
    border-radius: 100px
    font-size: 20px
    display: block
    &.green
        background: $green
        color: $blue-light
    &.blue
        background: $blue-light
        color: $green
    &.centered
        margin: 0 auto
    @media (max-width: 600px)
        font-size: 16px

#whatsapp
    position: fixed
    bottom: 1rem
    right: 1rem

svg
    max-width: 100%
    
.intro
    width: 100vw
    max-width: 100%
    height: 100vh
    max-height: 850px
    display: flex
    flex-direction: column
    justify-content: center
    position: relative
    overflow: hidden
    > img
        object-fit: cover
        width: 100%
        height: 100% 
        object-position: center
        position: absolute
    .main-title
        position: relative
        display: block
        margin: 0 auto
        display: flex
        align-items: center
        justify-content: space-evenly
        flex-direction: column
        color: #fff
        padding: 0 35px
        min-height: 500px
        max-height: 400px
        font-size: 20px
        
        @media (max-width: 724px)
            padding: 0 15px

        img
            width: 100%
            max-width: 600px

.descanso
    padding: 100px 15px
    @media (max-width: 600px)
        padding: 60px 15px
    div
        padding: 80px 0
        max-width: 1024px
        margin: 0 auto
        font-size: 25px
        border-top: 1px dotted rgba(#BBBDBF, .5)
        border-bottom: 1px dotted rgba(#BBBDBF, .5)
        line-height: 1.5em
        @media (max-width: 600px)
            padding: 35px 0
            font-size: 20px
        p
            padding: 0 35px
            @media (max-width: 600px)
                padding: 0
            
    &.no-border
        div 
            border: 0
            p
                padding: 0
                line-height: 1.8em
                font-size: 22px


.fullWidthImage
    width: 100%
    max-height: 800px
    height: 80vh
#img-1
    height: 100%
    width: 100%
    object-fit: cover
    object-position: center center

.descanso-2
    background: $green
    color: $blue-light
    font-size: 22px
    padding: 80px 35px
    div
        img
            margin-left: -15px
        max-width: 1024px
        margin: 0 auto
        line-height: 1.5em
        p
            padding-top: 30px

.siete-pilares
    background: $blue-light
    .info
        max-width: 1024px
        margin: 0 auto
        padding: 0 15px
        .titulo
            display: flex
            align-items: flex-end
            #excelencia
                margin-left: 35px
            @media (max-width: 600px)
                display: block
                #excelencia
                    margin-left: 0
                    max-width: 100%
        .pilares
            padding: 100px 0
            color: $white
            font-size: 20px
            text-align: center
            width: 100%
            @media (max-width: 600px)
                padding: 50px 0 80px
                font-size: 16px
            @media (min-width: 1024px)
                display: grid
                grid-template-columns: 1fr 1fr 1fr 1fr
                grid-gap: 4em 2rem
            @media (max-width: 1023px)
                display: grid
                grid-template-columns: 1fr 1fr
                grid-gap: 4em 2rem
            @media (max-width: 600px)
                display: grid
                grid-template-columns: 1fr
                grid-gap: 4rem
            .pilar
                .icon
                    width: 135px
                    height: 135px
                    background: $white
                    border-radius: 150px
                    margin: 0 auto 2rem
                    display: flex
                    align-items: center
                    justify-content: center
                    .image
                        svg
                            path
                                fill: $blue-light
    #pilar-5
        svg
            path
                &:nth-child(1)
                    fill: $blue-light
                fill: $white

.soluciones
    width: 100%
    max-height: 700px
    height: 100vh
    background-color: $blue-light
    display: flex
    align-items: center
    .info 
        display: flex
        align-items: center
        justify-content: space-evenly
        margin: 0 auto
        flex-direction: column
        height: 100%
        min-height: 400px
        max-height: 60%
    .title
        font-size: 59px
        line-height: 1em
        color: $white
    .icon
        svg 
            path 
                fill: $green
    @media (max-width: 600px)
        .title
            font-size: 2.5rem
.container 
    max-width: 1024px
    margin: 0 auto
.residuos
    background: $gray
    padding: 80px 35px
    .title
        color: $blue-light
        padding-bottom: 7rem
        font-size: 3rem
        line-height: 2rem
        @media (max-width: 1023px)
            font-size: 2rem
            padding-bottom: 4rem
    .residuos-list
        display: grid
        grid-template-columns: 1fr 1fr 1fr 
        text-align: center
        grid-gap: 6em 4rem
        @media (max-width: 1023px)
            display: grid
            grid-template-columns: 1fr 1fr
            grid-gap: 4em 2rem
        @media (max-width: 600px)
            display: grid
            grid-template-columns: 1fr
            grid-gap: 4rem
        .icon
            img
                max-width: 100%
        .name
            padding-top: 15px
            font-size: 1.8rem
.contacto
    background: $green
    padding: 100px 15px
    .datos
        display: grid
        grid-template-columns: 1fr 1fr 1fr 
        text-align: center
        grid-gap: 6em 4rem
        font-size: 16px
        @media (max-width: 1023px)
            grid-template-columns: 1fr
            grid-gap: 4rem
        .title
            font-size: 20px
            margin-bottom: 2rem
        .icon
            margin-bottom: 2rem
    .form
        form
            max-width: 760px
            margin: 80px auto 0 
            .input
                input, textarea
                    display: block
                    width: 100%
                    padding: 7px 15px
                    color: $black
                    box-sizing: border-box
                textarea
                    min-height: 150px
                    margin-bottom: 3rem
                    resize: none
                
                margin-bottom: 1rem
                display: block


